.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Add padding on the sides */
    background: none;
    color: white;
    padding: 30px;
    min-height: 100px;
    
    
  }


  nav.navbar .navbar-nav .nav-link {
    color: white ;

  }

  nav.navbar .navbar-nav .nav-link:hover {
    color: #77CDD9;
  }
  nav.navbar .navbar-nav.active-nav-item {
    color: #77CDD9 !important;
  }
  .active-nav-item {
    color: blue !important; /* Change as needed */
  }


  
  .logo {
    max-width: 150px; /* Example size; adjust as needed */
    height: auto;
    padding: 15px;
  }
  
.custom-navbar a {
  font-size: 25px;
}


/* Target the navbar toggler button */
.navbar-toggler {
  border: none !important; /* Remove borders */
  color: white !important; /* Set the color of the icon */
}


/* navbar toggler icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'><path stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important; /* Custom SVG with white color fill */
}


/* Mobile menu navigation. */
@media (max-width: 992px) {
  .navbar-toggler {
      color: white !important;
      
      
  }
  .navbar-expand-lg {
    border: none !important;


    
    
  }
  .navbar-expand-lg a {
    
    font-size: 20px;
  }
  .custom-toggle {
    right: 0 !important;
    border: none !important;
    box-shadow: none !important;
    top: 0 !important;
    z-index: 1300 !important;
  }


  .navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212d7; /* Optional background color with transparency */
    backdrop-filter: blur(2px);
    z-index: 1000; /* Ensure it's above other content */
    opacity: 1; /* Ensure it's fully visible when active */
    visibility: visible; /* Ensure it's visible when active */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  


}



